/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}

.navbar-inner {
    background-color: #178ec7;
}

/* Main marketing message and sign up button */
.jumbotron {
    color: #fff;
    text-align: center;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.jumbotron h1 {
    font-size: 80px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 22px;
    line-height: 1.25;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
    background-color: #178ec7;
}
.nav-justified > li > a {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #178ec7;
}
.nav-justified > li > a:hover {
    background-color: #3276b1;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #3276b1;
    /*box-shadow: inset 0 3px 7px rgba(0,0,0,.15);*/
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}

.masthead {
    background-color: #1ba1e2;
    color: #fff;
    position: relative;
    padding: 3em 0;
    text-align: center;
    border-bottom: 3px solid #178ec7;
}

/* ============== princing ============== */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

.footer {
    margin-top: 10px;
    border-top: 2px solid #178ec7;
    background-color: #1ba1e2;
    color: #fff;
    position: relative;
    padding: 3em 0;
}

