*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/target-eclipse/
/out/
/web-app/plugins
/web-app/WEB-INF/classes

.classpath
.project
/bin/

.idea/
*.iml
*.yml
*.ipr