/* Dashboard box panels
=================================================================== */

.quick-button {
  border: 1px solid #ddd;
  margin: 15px;
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  display: block;
  color: #646464;
  text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
  text-align: center;
  cursor: pointer;
  position: relative;
  @include gradient(#fafafa, #efefef);
  @include box-shadow(0 1px 0px rgba(255, 255, 255, .8));
  @include border-radius(2px);
  @include transition(all 0.3s ease);
}

.quick-button:hover {
  text-decoration: none;
  border-color: #a5a5a5;
  color: #444444;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  @include transition(all 0.3s ease-in-out);
  @include box-shadow(0px 0px 3px rgba(0,0,0,.25));
}
.quick-button:hover .notification {
  @include transition(all 0.3s ease-in-out);
  @include box-shadow(0px 0px 3px rgba(0,0,0,.6));
}

.quick-button i {
    font-size: 32px;
}

/* Notifications & Labels
=================================================================== */

.notification {
  position: absolute;
  top: -12px;
  right: -12px;
  line-height: 16px;
  height: 16px;
  padding: 6px 10px;
  color: white !important;
  @include border-radius(50em);
  @include box-sizing(content-box);
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the notification.

.notification-success {
  background-color: $brand-success;
}
.notification-danger {
  background-color: $brand-danger;
}
.notification-info {
  background-color: $brand-info;
}
.notification-warning {
  background-color: $brand-warning;
}
