.quick-button {
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 30px 0px 10px 0px;
    font-size: 14px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fafafa, #efefef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
    background-image: -o-linear-gradient(top, #fafafa, #efefef);
    background-image: linear-gradient(to bottom, #fafafa, #efefef);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
    box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display:block;
    color: #646464;
    text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 15px;
}

.quick-button:hover {
    text-decoration: none;
    border-color: #a5a5a5;
    color: #444444;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
    box-shadow: 0px 0px 3px rgba(0,0,0,.25);
}
.quick-button:hover .notification {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
    box-shadow: 0px 0px 3px rgba(0,0,0,.6);
}

.quick-button i {
    font-size: 32px;
}

/* Notifications & Labels
=================================================================== */

.notification {
  position: absolute;
  top: -12px;
  right: -12px;
  line-height: 16px;
  height: 16px;
  padding: 6px 10px;
  color: white !important;
  @include border-radius(50em);
  @include box-sizing(content-box);
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the notification.

.notification-success {
  background-color: $brand-success;
}
.notification-danger {
  background-color: $brand-danger;
}
.notification-info {
  background-color: $brand-info;
}
.notification-warning {
  background-color: $brand-warning;
}
