/* ============== peity ============== */
.peity {
  margin-bottom: 20px;
  canvas {
    margin-right: 10px;
  }
  h4 {
    display: inline-block;
    font-weight: 600;
    min-width: 30px;
    margin: 0;
    &.sub {
      font-weight: 300;
      color: #999;
    }
  }
}