.list-actions form {
    display: inline;
}

.datepicker {
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.editor {
    width: 100%;
    height: 100px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

textarea.editor-html {
    visibility: hidden;
}

.myalert {
    position: fixed;
    right: 0;
    top: 43px;
    z-index: 99999;
}

body {
    /*background-color: #f6f6f6;*/
}

/* ============== peity ============== */
.peity {
    margin-bottom: 20px;
}

.peity canvas {
    margin-right: 10px;
}

.peity h4 {
    display: inline-block;
    font-weight: 600;
    min-width: 30px;
    margin: 0;
}

.peity h4.sub {
    font-weight: 300;
    color: #999;
}

/* ============== knobs ============== */
.knob {
    text-align: center;
}

/* ============== pagination beerstrap ============== */

#beerstrap-pag {
}

#beerstrap-pag .beerstrap-pag-left {
    font-weight: bold;
}

#beerstrap-pag .beerstrap-pag-right {
}

/* ============== ribbon ============== */

.ribbon {
    background-color: #a00;
    overflow: hidden;
    /* top left corner */
    position: absolute;
    left: -2.5em;
    top: 1.8em;
    /* 45 deg ccw rotation */
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0.5em #444;
}

/* ============== scaffolding view show ============== */
.property-label {
    font-weight: bold;
}

/* ============== spinner ============== */
#spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* ============== modal general ============== */
#modal-general form
{
    margin: 0;
}

.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}
