// Basics of a navbar
$navbar-height:                    50px;
$navbar-border-radius:             0px;
$navbar-default-color:             #fff;
$navbar-default-bg:                #205081;
$navbar-default-border:            #3b73af;

// Navbar links
$navbar-default-link-color:                #f5f5f5;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            #3b73af;

$navbar-default-brand-color:               #fff;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #3b73af;
$navbar-default-toggle-icon-bar-bg:        #fff;
$navbar-default-toggle-border-color:       #205081;